.snackbar {
  --primary: #C849F4;
  --background: #353535;
  --text: #E3E3E3;
  --font: sans-serif;
  --times: 22px;
  --padd: 1rem;
}
$sm: 576px;
@function toRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}
.snackbar {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    position: fixed;
    min-height: var(--times);
    padding: var(--padd);
    border-radius: 4px;
    @media screen and (max-width: $sm) {
        border-radius: 2px;
        width: calc(100% - (2 * var(--padd)));
    }

    &.top, &.bottom {
        @media screen and (min-width: $sm) {
            transform: translateX(-50%);
            left: 50%;
            &-left {
                left: 1rem;
            }
            &-right {
                right: 1rem;
            }
        }
    }

    &[class*="bottom"] {
        bottom: 1rem;
    }

    &[class*="top"] {
        top: 1rem;
    }

    @media screen and (max-width: $sm) {
        transform: translateX(-50%);
        left: 50%;
        &[class*="bottom"] {
            bottom: 0;
        }
        &[class*="top"] {
            top: 0;
        }
    }

    &__text {
        flex-grow: 1;
        height: var(--times);
        display: flex;
        justify-content: left; /* align horizontal */
        align-items: center; /* align vertical */
    }

    &__action {
        height: var(--times);
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 0 1rem;
        color: var(--primary);
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: left; /* align horizontal */
        align-items: center; /* align vertical */
    }

    &__times {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--times);
        width: var(--times);
        transform: scale(1);
        margin-left: 1rem;

        &:before {
            display: block;
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: -2px;
            left: -4px;
            transform: scale(0.2);
            border-radius: 50%;
            transition: transform .1s ease-in;
        }

        &:hover {
            &:before {
                background-color: var(--text);
                opacity: .2;
                transform: scale(1.5);
            }
        }
    }
}

.snack-enter-active, .snack-leave-active {
  transition: all .4s ease;
}
.snack-enter, .snack-leave-to {
  opacity: 0;
  @media screen and (min-width: $sm) {
    &.bottom {
      transform: translateY(100%) translateX(-50%);
    }
    &.top {
      transform: translateY(-100%) translateX(-50%);
    }
  }
  &[class*="top"] {
    @media screen and (max-width: $sm) {
      transform: translateY(-100%) translateX(-50%);
    }
  }
  &[class*="bottom"] {
    @media screen and (max-width: $sm) {
      transform: translateY(100%) translateX(-50%);
    }
  }
  &[class*="-left"] {
    @media screen and (min-width: $sm) {
      transform: translateX(-50%);
    }
  }
  &[class*="-right"] {
    @media screen and (min-width: $sm) {
      transform: translateX(50%);
    }
  }
}


.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(1.25);
  width: 22px;
  height: 22px;
  border: 0px solid transparent;
  border-radius: 40px
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 0px
}
.gg-close::after {
  transform: rotate(-45deg)
}
